
.blob {
    height: 15rem;
    width: 15rem;
    animation: shapeChange 5s ease-in-out infinite;
}

#navbar {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

#nav-list {
    display: flex;
    list-style: none;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-link {
    text-decoration: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.blob {
    height: 15rem;
    width: 15rem;
    transform: scale(1);
}
.tk-blob {
    transform: scale(1);
    transition: transform 0.4s ease-out;
}

.tk-blob:hover + .nav-icon, .nav-icon:hover {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
}

.nav-icon {
    fill: #d5e0e1;
    height: 5rem;
    width: 5rem;
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    transition: transform 0.3s ease-out;
}
